:root {
  --primary-text-color: #111111;
  --secondary-text-color: #343434;
  --page-bg-color: #f7f6f9;
  --button-color: #3470ff;
  --button-hover-color: #0b44cd;
  --button-text-color: #ffffff;
  --car--name--text: #121417;
  --line-color: rgba(18, 20, 23, 0.1);
  --about-text: rgba(18, 20, 23, 0.5);
}
